<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="box-sizing:border-box;font-family:Calibri">
        <div style="text-align:center"><h1>Online Real Estate</h1></div>
        <nav style="padding:5px;">
            <h2>
                @Html.ActionLink("Home", "Index")
                @Html.ActionLink("SignUp", "SignUp")
                @Html.ActionLink("LogIn", "Login")
            </h2>
        </nav>

    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
